.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/*common section options*/
.section {
  display: block;
  padding-top: 94px;
  padding-bottom: 94px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

.section-title {
  margin: 0px;
  padding-bottom: 50px;
  text-align: center;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03px;
  color: #212121;
}

.section-item {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03px;
  color: #212121;
}

.section-text {
  margin: 0px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03px;
  color: #757575;
}

/*body*/
.body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #ffffff;
}

*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.list {
  list-style: none;
}

/*main logo*/
.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  letter-spacing: 0.03px;
  color: #2196f3;
  text-decoration: none;
}

.studio {
  font-family: "Ralewey", sans-serif;
  font-weight: bold;
  letter-spacing: 0.03px;
  margin-right: 85px;
}

.page-header .logo {
  font-size: 26px;
}

.page-header .studio {
  font-size: 26px;
  line-height: 31px;
  color: #000000;
}

.footer .logo {
  font-size: 22px;
  padding-top: 45px;
}

.footer .studio {
  font-size: 22px;
  color: #ffffff;
  text-decoration: none;
}

/*navigation*/
.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 0px;
  margin-bottom: 0px;
  border-bottom: 1px solid #ececec;
}

.list {
  list-style: none;
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.02px;
}

.site-nav .item {
  margin-right: 50px;
}

.site-nav .item:last-child {
  margin-right: 0px;
}

.site-nav .link.current {
  color: #2196f3;
}

.site-nav .link.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  -webkit-transition: step-end;
  transition: step-end;
  background-color: #2196f3;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link {
  position: relative;
  display: block;
  color: #212121;
  padding-top: 32px;
  padding-bottom: 33px;
  text-decoration: none;
}

.site-nav .link:hover {
  color: #2196f3;
}

.site-nav .link:hover::after {
  background-color: #2196f3;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.site-nav .link:focus {
  color: #2196f3;
}

.site-nav .link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/*contacts */
.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  text-decoration: none;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.02px;
}

.contacts .items:last-child {
  margin-right: 0px;
}

.items a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 32px;
  padding-bottom: 33px;
  margin-right: 30px;
  text-decoration: none;
  color: #757575;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.items a:hover, .items a:focus {
  color: #2196f3;
}

.items a .contacts-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
  fill: currentColor;
}

.items a:hover {
  color: #2196f3;
}

.phone {
  width: 10px;
  height: 11px;
}

.letter {
  width: 20px;
  height: 12px;
}

/* hero*/
.hero {
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url(../img/header_img_sq.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../img/header_img_sq.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1600px;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0px;
  padding-bottom: 0px;
}

.hero-title {
  display: block;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  padding-top: 196px;
  width: 646px;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 44px;
  line-height: 60px;
  letter-spacing: 0.06px;
  text-align: center;
}

/*modal*/
.hero-buttom {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 10px 32px;
  color: #ffffff;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06px;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0px;
  border-radius: 4px;
  cursor: pointer;
}

.button-close {
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  right: -10px;
  top: -5px;
  background: #ffffff;
  border: none;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.icon-button-close {
  display: block;
  width: 18px;
  height: 18px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon-button-close:hover {
  fill: #2196f3;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 528px;
  height: 581px;
  padding: 40px;
  background: #ffffff;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-title {
  display: block;
  max-width: 700px;
  margin-bottom: 0px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03px;
  color: #212121;
}

.form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-list {
  position: relative;
  margin-top: 30px;
  margin-right: 0px;
  padding: 0px;
  list-style: none;
  border-radius: 4px;
}

.form-label {
  position: absolute;
  top: 30%;
  left: 37px;
  margin: 0px;
  -webkit-transform: translateY(-12%);
          transform: translateY(-12%);
}

.form-label-comment {
  position: absolute;
  top: 10%;
  left: 8px;
  -webkit-transform: translate(-3%, -12%);
          transform: translate(-3%, -12%);
}

.form-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 40px;
  padding-left: 40px;
  margin-right: 0px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
}

.form-item-comment {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.form-item:focus {
  outline: none;
  border-color: #2196f3;
}

.form-item:focus + .form-label {
  color: #2196f3;
  border-color: #2196f3;
  -webkit-transform: translate(-30px, -35px);
          transform: translate(-30px, -35px);
  -webkit-transition: 250ms linear, -webkit-transform 500ms;
  transition: 250ms linear, -webkit-transform 500ms;
  transition: 250ms linear, transform 500ms;
  transition: 250ms linear, transform 500ms, -webkit-transform 500ms;
}

.form-item-comment:focus {
  outline: none;
  border-color: #2196f3;
}

.form-item-comment:focus + .form-label-comment {
  outline: none;
  color: #2196f3;
  border-color: #2196f3;
  -webkit-transform: translate(-1px, -40px);
          transform: translate(-1px, -40px);
  -webkit-transition: 250ms linear, -webkit-transform 500ms;
  transition: 250ms linear, -webkit-transform 500ms;
  transition: 250ms linear, transform 500ms;
  transition: 250ms linear, transform 500ms, -webkit-transform 500ms;
}

.modal-icon {
  position: absolute;
  fill: #212121;
  top: 30%;
  left: 10px;
  display: inline-block;
  width: 18px;
  height: 18px;
  -webkit-transform: translateY(-15%);
          transform: translateY(-15%);
}

.form-item:focus + .form-label + .modal-icon {
  fill: #2196f3;
  border-color: #2196f3;
}

.button-submit {
  position: relative;
  display: block;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 200px;
  min-height: 50px;
  margin-top: 30px;
  color: #ffffff;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06px;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0px;
  border-radius: 4px;
  cursor: pointer;
}

/*checkbox*/
.checkbox {
  display: block;
  margin-top: 20px;
}

.checkbox input[type="checkbox"] {
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
}

.checkbox label {
  position: relative;
  display: inline-block;
  padding-left: 22px;
}

.checkbox label::before,
.checkbox label::after {
  position: absolute;
  content: "";
  display: inline-block;
  border-radius: 2px;
}

.checkbox label::before {
  height: 15px;
  width: 15px;
  border: 1px solid #212121;
  left: 0px;
  top: 3px;
  background-color: #ffffff;
}

.checkbox label::after {
  height: 5px;
  width: 9px;
  border-left: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  left: 4px;
  top: 7px;
}

.checkbox input[type="checkbox"] + label::after {
  content: none;
}

.checkbox input[type="checkbox"]:checked + label::after {
  content: "";
}

.checkbox input[type="checkbox"]:checked + label::before {
  background-color: #2196f3;
  border: #2196f3;
}

.rules {
  color: #2196f3;
  text-decoration: underline;
}

/*advantages options*/
.features {
  padding-bottom: 0px;
}

.advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0px;
  padding-left: 0px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Roboto", sans-serif;
  color: #212121;
  text-decoration: none;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.02px;
}

.advantages-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.details {
  width: 270px;
  display: block;
  padding-right: 30px;
}

.details:last-child {
  padding-right: 0px;
}

.icon {
  width: 70px;
  height: 70px;
}

/* about company*/
.aboutcompany {
  padding-top: 94px;
}

a {
  list-style: none;
}

.works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 0px;
  padding-left: 0px;
  margin-bottom: 0px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.box1 {
  background-image: url("../img/box1-min.jpg");
  width: 370px;
  height: 294px;
}

.box2 {
  background-image: url("../img/box2-min.jpg");
  width: 370px;
  height: 294px;
}

.box3 {
  background-image: url("../img/box3-min.jpg");
  width: 370px;
  height: 294px;
}

.occupation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-right: 30px;
}

.occupation:last-child {
  padding-right: 0px;
}

.section-title-company {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding-top: 27px;
  padding-bottom: 27px;
  margin-top: 0;
  margin-bottom: 0px;
  background-color: rgba(47, 48, 58, 0.8);
  color: #ffffff;
  width: 370px;
  height: 70px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.03px;
}

.section-item.company:last-child {
  padding-right: 0px;
}

.ourteam {
  background-color: #f5f4fa;
}

.team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-left: 0px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 30px;
}

.members {
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
  border-radius: 4px;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
}

.members:not(:last-child) {
  margin-right: 30px;
}

.name {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 0px;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.03px;
}

.position {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 0px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03px;
  color: #757575;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0px;
  margin-bottom: 24px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 16px;
}

.social .links a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  cursor: pointer;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social .links a:hover .social-icon {
  fill: #ffffff;
}

.social .links a:focus .social-icon {
  fill: #ffffff;
}

.links a:hover, .links a:focus {
  background-color: #2196f3;
}

.links a:last-child {
  padding-right: 0px;
}

.social-icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}

.partners {
  padding-top: 94px;
}

.customers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.customers-icon {
  fill: #afb1b8;
}

.examples a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 170px;
  height: 90px;
  margin-right: 30px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.examples a:hover, .examples a:focus {
  border-color: #2196f3;
}

.examples a:hover .customers-icon, .examples a:focus .customers-icon {
  fill: #2196f3;
}

.examples a:last-child {
  margin-right: 0px;
}

/*footer */
.footer {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03px;
  color: #ffffff;
  background-color: #2f303a;
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.contact-footer {
  display: block;
  margin-left: 0px;
  padding-bottom: 28px;
  font-style: normal;
}

.address-footer {
  display: block;
  margin-top: 20px;
  font-style: normal;
  line-height: 24px;
}

.addresses-details {
  padding-bottom: 0px;
  margin-top: 0px;
}

.addresses {
  display: block;
  padding-bottom: 0px;
  margin-top: 0px;
}

.addresses a {
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  line-height: 24px;
}

/*join us*/
.info {
  display: block;
  padding-left: 59px;
}

.join {
  display: block;
  padding-top: 45px;
  margin: 0px;
}

.social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 0px;
  padding-top: 20px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.reference a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  margin-right: 10px;
  cursor: pointer;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition: 250ms, cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms, cubic-bezier(0.4, 0, 0.2, 1);
}

.reference a:hover {
  background-color: #2196f3;
  -webkit-transition: 250ms, cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms, cubic-bezier(0.4, 0, 0.2, 1);
}

.reference-icon {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

/*subscribe */
.distribution {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 94px;
  padding-top: 45px;
  margin: 0px;
}

.form-subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 20px;
  margin: 0px;
}

.email {
  display: block;
  width: 358px;
  height: 50px;
  padding-left: 16px;
  margin-right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: #2f303a;
}

.subscribe {
  display: block;
  padding-bottom: 20px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03px;
  color: white;
}

.button-footer {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-top: 44px;
  width: 200px;
  height: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border: 0px;
  background: #2196f3;
  color: #ffffff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

.button-icon {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}

/*copirate footer*/
.developed {
  display: block;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  margin: auto;
  font-size: 12px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.4);
}

.copirate {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
/*# sourceMappingURL=main.css.map */