.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 320px) {
  .container {
    min-width: 320px;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0px auto 0px auto;
  }
  .page-header .container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-items: stretch;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .container:nth-last-child(4) {
    padding-bottom: 0px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

/*common section options*/
.section {
  display: block;
  /* padding-top: 94px;
  padding-bottom: 94px;*/
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

.section-title {
  margin: 0px;
  /*padding-bottom: 50px;*/
  text-align: center;
  font-weight: bold;
  /*font-size: 36px;*/
  line-height: 42px;
  letter-spacing: 0.03px;
  color: #212121;
}

@media screen and (min-width: 320px) {
  .section-title {
    font-size: 26px;
  }
}

.section-item {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03px;
  color: #212121;
}

@media screen and (min-width: 320px) {
  .section-item {
    text-align: center;
  }
}

.section-text {
  margin: 0px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03px;
  color: #757575;
}

@media screen and (min-width: 320px) {
  .section-text {
    text-align: justify;
  }
}

/*body*/
.body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #ffffff;
}

*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.list {
  list-style: none;
}

.page-header {
  position: relative;
}

.main-logo {
  display: inline-block;
}

@media screen and (min-width: 320px) {
  .main-logo {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

@media screen and (min-width: 768px) {
  .main-logo {
    padding-top: 26px;
    padding-bottom: 26px;
    padding-right: 0;
    margin-right: 81px;
  }
}

@media screen and (min-width: 1200px) {
  .main-logo {
    margin-right: 85px;
  }
}

.logo {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  letter-spacing: 0.03px;
  color: #2196f3;
  text-decoration: none;
}

.studio {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  letter-spacing: 0.03px;
  padding-left: 5px;
}

.page-header .logo {
  font-size: 26px;
}

.page-header .studio {
  font-size: 26px;
  line-height: 31px;
  color: #000000;
}

@media screen and (min-width: 320px) {
  .second-logo {
    padding-top: 60px;
    padding-bottom: 15px;
  }
}

@media screen and (min-width: 768px) {
  .second-logo {
    padding-top: 0;
    margin-left: 85px;
  }
}

.footer .logo {
  font-size: 22px;
}

.footer .studio {
  font-size: 22px;
  color: #ffffff;
  text-decoration: none;
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

@media screen and (min-width: 768px) {
  .main-nav .menu-container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 1px solid #ececec;
  }
  .main-nav .list {
    list-style: none;
  }
}

.list {
  list-style: none;
}

.site-nav {
  font-family: "Roboto", sans-serif;
  /*font-size: 14px;*/
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.02px;
}

@media screen and (max-width: 767px) {
  .site-nav {
    display: block;
    margin-bottom: 60px;
    text-align: center;
    padding-left: 0;
  }
}

@media screen and (min-width: 768px) {
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    margin-top: 0px;
    margin-bottom: 0px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .item {
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: auto;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
  }
  .item:last-child {
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 767px) and (min-width: 768px) {
  .item {
    margin-right: 50px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: auto;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
  }
  .item:last-child {
    padding-right: 0px;
  }
}

.item .link.current {
  color: #2196f3;
}

.item .link.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  -webkit-transition: step-end;
  transition: step-end;
  background-color: #2196f3;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.item .link {
  position: relative;
  /*display: block;*/
  color: #212121;
  /*padding-top: 32px;
    padding-bottom: 33px;*/
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .item .link {
    display: inline-block;
    padding-bottom: 8px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .item .link {
    display: inline-block;
    padding-top: 32px;
    padding-bottom: 32px;
    margin-right: 50px;
  }
}

.item:hover {
  color: #2196f3;
}

.item:hover::after {
  background-color: #2196f3;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.item:focus {
  color: #2196f3;
}

.item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .menu-button {
    right: auto;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin: 0px;
    padding: 0px;
    border: none;
    fill: currentColor;
  }
  .menu-button .icon-close {
    display: none;
  }
  .menu-button.is-open .icon-close {
    display: block;
  }
  .menu-button.is-open .icon-menu {
    display: none;
  }
  .menu-container {
    height: 453px;
    background-color: #ffffff;
  }
}

@media screen and (max-width: 767px) and (max-width: 767px) {
  .menu-container {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
    font-size: 20px;
    z-index: 1;
  }
  .menu-container.is-open {
    display: block;
    border: 1px solid #ececec;
  }
}

@media screen and (max-width: 767px) and (max-width: 767px) and (min-width: 768px) {
  .menu-container {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    justify-items: stretch;
  }
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

/*contacts */
.contacts {
  justify-items: center;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  text-decoration: none;
  /*font-size: 14px;*/
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.02px;
}

@media screen and (max-width: 767px) {
  .contacts {
    display: inline-block;
    padding-left: 0;
    padding-bottom: 16px;
    margin-left: auto;
    font-size: 18px;
    line-height: 21px;
  }
  .contacts .items:last-child {
    margin-right: 0px;
  }
}

@media screen and (min-width: 768px) {
  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: auto;
    padding-top: 21px;
    padding-bottom: 21px;
    padding-left: 0;
    font-size: 12px;
    line-height: 14px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    justify-items: center;
  }
}

.items a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*padding-top: 32px;
  padding-bottom: 33px;
  margin-right: 30px;*/
  text-decoration: none;
  color: #757575;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .items a {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 16px;
  }
}

@media screen and (min-width: 768px) {
  .items a {
    justify-items: center;
    padding-bottom: 10px;
  }
}

.items a:hover, .items a:focus {
  color: #2196f3;
}

.items a .contacts-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-right: 8px;
  fill: currentColor;
}

.items a .contacts-icon:hover {
  color: #2196f3;
}

.phone {
  width: 10px;
  height: 11px;
}

.letter {
  width: 16px;
  height: 12px;
}

/* hero*/
.hero {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url(../img/header_img_sq.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../img/header_img_sq.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0px;
  padding-bottom: 0px;
}

.hero-title {
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.06px;
  text-align: center;
}

.hero-buttom {
  padding: 10px 32px;
  color: #ffffff;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06px;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0px;
  border-radius: 4px;
  cursor: pointer;
}

@media screen and (min-width: 320px) {
  .hero {
    width: 320px;
  }
  .hero-title {
    padding-top: 118px;
    width: 480px;
    font-weight: 900;
    font-size: 26px;
    line-height: 42px;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    width: 768px;
    display: block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero-title {
    display: block;
    padding-top: 118px;
    min-width: 480px;
    font-weight: 900;
    font-size: 26px;
    line-height: 42px;
  }
  .hero-button {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    width: 1200px;
    display: block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero-title {
    display: block;
    padding-top: 196px;
    min-width: 646px;
    font-size: 44px;
    line-height: 60px;
  }
  .hero-button {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

/*modal*/
.button-close {
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  right: -10px;
  top: -5px;
  background: #ffffff;
  border: none;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.icon-button-close {
  display: block;
  width: 18px;
  height: 18px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon-button-close:hover {
  fill: #2196f3;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 528px;
  height: 581px;
  padding: 40px;
  background: #ffffff;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-title {
  display: block;
  max-width: 700px;
  margin-bottom: 0px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03px;
  color: #212121;
}

.form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-list {
  position: relative;
  margin-top: 30px;
  margin-right: 0px;
  padding: 0px;
  list-style: none;
  border-radius: 4px;
}

.form-label {
  position: absolute;
  top: 30%;
  left: 37px;
  margin: 0px;
  -webkit-transform: translateY(-12%);
          transform: translateY(-12%);
}

.form-label-comment {
  position: absolute;
  top: 10%;
  left: 8px;
  -webkit-transform: translate(-3%, -12%);
          transform: translate(-3%, -12%);
}

.form-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 40px;
  padding-left: 40px;
  margin-right: 0px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
}

.form-item-comment {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.form-item:focus {
  outline: none;
  border-color: #2196f3;
}

.form-item:focus + .form-label {
  color: #2196f3;
  border-color: #2196f3;
  -webkit-transform: translate(-30px, -35px);
          transform: translate(-30px, -35px);
  -webkit-transition: 250ms linear, -webkit-transform 500ms;
  transition: 250ms linear, -webkit-transform 500ms;
  transition: 250ms linear, transform 500ms;
  transition: 250ms linear, transform 500ms, -webkit-transform 500ms;
}

.form-item-comment:focus {
  outline: none;
  border-color: #2196f3;
}

.form-item-comment:focus + .form-label-comment {
  outline: none;
  color: #2196f3;
  border-color: #2196f3;
  -webkit-transform: translate(-1px, -40px);
          transform: translate(-1px, -40px);
  -webkit-transition: 250ms linear, -webkit-transform 500ms;
  transition: 250ms linear, -webkit-transform 500ms;
  transition: 250ms linear, transform 500ms;
  transition: 250ms linear, transform 500ms, -webkit-transform 500ms;
}

.modal-icon {
  position: absolute;
  fill: #212121;
  top: 30%;
  left: 10px;
  display: inline-block;
  width: 18px;
  height: 18px;
  -webkit-transform: translateY(-15%);
          transform: translateY(-15%);
}

.form-item:focus + .form-label + .modal-icon {
  fill: #2196f3;
  border-color: #2196f3;
}

.button-submit {
  position: relative;
  display: block;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 200px;
  min-height: 50px;
  margin-top: 30px;
  color: #ffffff;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06px;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0px;
  border-radius: 4px;
  cursor: pointer;
}

/*checkbox*/
.checkbox {
  display: block;
  margin-top: 20px;
}

.checkbox input[type="checkbox"] {
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
}

.checkbox label {
  position: relative;
  display: inline-block;
  padding-left: 22px;
}

.checkbox label::before,
.checkbox label::after {
  position: absolute;
  content: "";
  display: inline-block;
  border-radius: 2px;
}

.checkbox label::before {
  height: 15px;
  width: 15px;
  border: 1px solid #212121;
  left: 0px;
  top: 3px;
  background-color: #ffffff;
}

.checkbox label::after {
  height: 5px;
  width: 9px;
  border-left: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  left: 4px;
  top: 7px;
}

.checkbox input[type="checkbox"] + label::after {
  content: none;
}

.checkbox input[type="checkbox"]:checked + label::after {
  content: "";
}

.checkbox input[type="checkbox"]:checked + label::before {
  background-color: #2196f3;
  border: #2196f3;
}

.rules {
  color: #2196f3;
  text-decoration: underline;
}

/*advantages options*/
.features {
  padding-bottom: 0px;
}

@media screen and (max-width: 767px) {
  .features {
    padding-top: 0px;
  }
}

@media screen and (min-width: 768px) {
  .features {
    padding-top: 0px;
  }
}

.advantages {
  /*margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0px;
  justify-content: space-between;*/
  font-family: "Roboto", sans-serif;
  color: #212121;
  text-decoration: none;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.02px;
}

@media screen and (max-width: 767px) {
  .advantages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 250px;
    margin: -5px;
  }
  .advantages-image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 120px;
    background-color: #f5f4fa;
    border-radius: 4px;
  }
}

@media screen and (min-width: 768px) {
  .advantages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .advantages-image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 120px;
    background-color: #f5f4fa;
    border-radius: 4px;
  }
}

@media screen and (min-width: 768px) and (min-width: 1199px) {
  .advantages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    padding-left: 0;
  }
  .advantages-image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 120px;
    background-color: #f5f4fa;
    border-radius: 4px;
  }
}

.advantages .details {
  /*display: flex;
      width: 270px;
      margin: 10px;
      margin-bottom: 0px;
      padding-left: 0px;*/
}

@media screen and (max-width: 767px) {
  .advantages .details .details:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .advantages .details {
    width: calc((100% - 30px * 2) / 2);
  }
  .advantages .details:not(:last-child) {
    margin-right: 30px;
  }
}

.advantages .details .details {
  /*width: 270px;
  display: block;*/
  /*padding-right: 30px;*/
}

.advantages .details .details:last-child {
  padding-right: 0px;
}

.advantages .details .icon {
  width: 70px;
  height: 70px;
}

/* about company*/
@media screen and (max-width: 1199px) {
  .aboutcompany {
    display: none;
  }
}

a {
  list-style: none;
}

.works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 0px;
  padding-left: 0px;
  margin-bottom: 0px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.box1 {
  background-image: url("../img/box1-min.jpg");
  width: 370px;
  height: 294px;
}

.box2 {
  background-image: url("../img/box2-min.jpg");
  width: 370px;
  height: 294px;
}

.box3 {
  background-image: url("../img/box3-min.jpg");
  width: 370px;
  height: 294px;
}

.occupation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-right: 30px;
}

.occupation:last-child {
  padding-right: 0px;
}

.section-title-company {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding-top: 27px;
  padding-bottom: 27px;
  margin-top: 0;
  margin-bottom: 0px;
  background-color: rgba(47, 48, 58, 0.8);
  color: #ffffff;
  width: 370px;
  height: 70px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.03px;
}

.section-item.company:last-child {
  padding-right: 0px;
}

.section-ourteam {
  background-color: #f5f4fa;
  text-align: center;
}

.team {
  text-decoration: none;
}

@media screen and (min-width: 320px) {
  .team {
    display: inline-block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 0px;
    padding-left: 0px;
  }
}

@media screen and (min-width: 768px) {
  .team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-left: 40px;
  }
}

@media screen and (min-width: 1200px) {
  .team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-left: 0px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-right: 30px;
    padding-left: 0;
  }
}

.team .members {
  background-color: #ffffff;
  border-radius: 4px;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
}

@media screen and (min-width: 320px) {
  .team .members {
    width: 450px;
    margin-top: 30px;
    margin-right: 0px;
  }
  .team .members:not(:last-child) {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 320px) and (min-width: 767px) {
  .team .members {
    width: calc((100% - 30px * 2) / 2);
    margin-right: 30px;
  }
}

@media screen and (min-width: 320px) and (min-width: 1199px) {
  .team .members {
    display: block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-width: 270px;
  }
  .team .members:not(:last-child) {
    padding-right: 0px;
  }
}

@media screen and (min-width: 320px) {
  .team .members .name {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 0px;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.03px;
  }
  .team .members .position {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03px;
    color: #757575;
  }
}

.team .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0px;
  /*margin-bottom: 24px;*/
  margin-top: 16px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team .social .links a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  margin-bottom: 10px;
  cursor: pointer;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team .social .links a:hover .social-icon {
  fill: #ffffff;
}

.team .social .links a:focus .social-icon {
  fill: #ffffff;
}

.team .links a:hover, .team .links a:focus {
  background-color: #2196f3;
}

.team .links a:last-child {
  padding-right: 0px;
}

.team .social-icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}

.partners {
  padding-top: 94px;
}

@media screen and (min-width: 320px) {
  .partners {
    padding-top: 0px;
    padding-bottom: 0px;
    text-align: center;
  }
}

@media screen and (min-width: 320px) {
  .partners .section-title {
    padding-bottom: 0px;
    padding-top: 0px;
  }
}

.customers {
  margin-bottom: 0px;
  padding-left: 0px;
}

@media screen and (min-width: 768px) {
  .customers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .customers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    width: 100 .customers;
    margin-top: 0px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.customers-icon {
  fill: #afb1b8;
}

.examples a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.examples a:hover, .examples a:focus {
  border-color: #2196f3;
}

.examples a:hover .customers-icon, .examples a:focus .customers-icon {
  fill: #2196f3;
}

@media screen and (max-width: 767px) {
  .examples {
    width: calc((100% - 30px * 2) / 2);
    margin-right: 30px;
  }
}

@media screen and (min-width: 768px) {
  .examples {
    width: calc((100% - 30px * 2) / 3);
    margin: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .examples :not(:last-child) {
    margin-right: 30px;
  }
}

/*footer */
.footer {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03px;
  color: #ffffff;
  background-color: #2f303a;
  /*join us*/
  /*subscribe */
}

@media screen and (min-width: 320px) {
  .footer .container {
    display: block;
    text-align: center;
    padding-top: 0px;
  }
}

@media screen and (min-width: 768px) {
  .footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: stretch;
        -ms-flex-pack: stretch;
            justify-content: stretch;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.footer .contact-footer {
  font-style: normal;
  /* margin-left: 0px;
      padding-bottom: 28px;*/
}

@media screen and (min-width: 320px) {
  .footer .contact-footer {
    display: block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .footer .contact-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer .contact-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.footer .address-footer {
  font-style: normal;
  line-height: 24px;
}

@media screen and (min-width: 320px) {
  .footer .address-footer {
    display: block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .footer .address-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 76px;
  }
}

@media screen and (min-width: 1200px) {
  .footer .address-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 20px;
  }
}

.footer .addresses-details {
  padding-bottom: 0px;
  margin-top: 0px;
}

.footer .addresses {
  display: block;
  padding-bottom: 0px;
  margin-top: 0px;
}

.footer .addresses a {
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  line-height: 24px;
}

@media screen and (min-width: 320px) {
  .footer .info {
    display: block;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .footer .info {
    display: inline-block;
    margin-left: 165px;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer .info {
    display: block;
    padding-left: 69px;
  }
}

@media screen and (min-width: 320px) {
  .footer .info .join {
    display: block;
    text-align: center;
    margin-top: 60px;
  }
}

@media screen and (min-width: 768px) {
  .footer .info .join {
    display: inline-block;
    margin-top: 0;
  }
}

@media screen and (min-width: 1200px) {
  .footer .info .join {
    display: inline-block;
    padding-top: 45px;
    margin: 0px;
  }
}

.footer .info .social-links {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 0px;
  /*padding-top: 20px;*/
  margin-bottom: 0px;
  margin-top: 0px;
}

@media screen and (min-width: 320px) {
  .footer .info .social-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 20px;
  }
}

@media screen and (min-width: 768px) {
  .footer .info .social-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.footer .info .social-links .reference a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  margin-right: 10px;
  cursor: pointer;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition: 250ms, cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms, cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .info .social-links .reference a:hover {
  background-color: #2196f3;
  -webkit-transition: 250ms, cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms, cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .info .reference-icon {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

.footer .distribution {
  padding-top: 60px;
  margin: 0px;
}

@media screen and (min-width: 320px) {
  .footer .distribution {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 768px) {
  .footer .distribution {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 186px;
    padding-right: 152px;
  }
}

@media screen and (min-width: 1200px) {
  .footer .distribution {
    display: block;
  }
}

.footer .form-subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 20px;
  margin: 0px;
}

.footer .email {
  height: 50px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: #2f303a;
}

@media screen and (min-width: 320px) {
  .footer .email {
    min-width: 358px;
  }
}

@media screen and (min-width: 1200px) {
  .footer .email {
    display: block;
    margin-right: 12px;
  }
}

.footer .subscribe {
  display: block;
  padding-bottom: 20px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03px;
  color: white;
}

@media screen and (min-width: 320px) {
  .footer .subscribe {
    text-align: center;
  }
}

.footer .button-footer {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 200px;
  height: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border: 0px;
  background: #2196f3;
  color: #ffffff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

@media screen and (min-width: 320px) {
  .footer .button-footer {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer .button-footer {
    margin-top: 44px;
  }
}

.footer .button-icon {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}
/*# sourceMappingURL=main.css.map */