.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/*body*/
.body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #ffffff;
}

*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.list {
  list-style: none;
}

/*main logo*/
.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  letter-spacing: 0.03px;
  color: #2196f3;
  text-decoration: none;
}

.studio {
  font-family: "Ralewey", sans-serif;
  font-weight: bold;
  letter-spacing: 0.03px;
  margin-right: 85px;
}

.page-header .logo {
  font-size: 26px;
}

.page-header .studio {
  font-size: 26px;
  line-height: 31px;
  color: #000000;
}

.footer .logo {
  font-size: 22px;
  padding-top: 45px;
}

.footer .studio {
  font-size: 22px;
  color: #ffffff;
  text-decoration: none;
}

/*navigation*/
.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 0px;
  margin-bottom: 0px;
  border-bottom: 1px solid #ececec;
}

.list {
  list-style: none;
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.02px;
}

.site-nav .item {
  margin-right: 50px;
}

.site-nav .item:last-child {
  margin-right: 0px;
}

.site-nav .link.current {
  color: #2196f3;
}

.site-nav .link.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  -webkit-transition: step-end;
  transition: step-end;
  background-color: #2196f3;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link {
  position: relative;
  display: block;
  color: #212121;
  padding-top: 32px;
  padding-bottom: 33px;
  text-decoration: none;
}

.site-nav .link:hover {
  color: #2196f3;
}

.site-nav .link:hover::after {
  background-color: #2196f3;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.site-nav .link:focus {
  color: #2196f3;
}

.site-nav .link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/*contacts */
.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  text-decoration: none;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.02px;
}

.contacts .items:last-child {
  margin-right: 0px;
}

.items a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 32px;
  padding-bottom: 33px;
  margin-right: 30px;
  text-decoration: none;
  color: #757575;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.items a:hover, .items a:focus {
  color: #2196f3;
}

.items a .contacts-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
  fill: currentColor;
}

.items a:hover {
  color: #2196f3;
}

.phone {
  width: 10px;
  height: 11px;
}

.letter {
  width: 20px;
  height: 12px;
}

/*filters*/
.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-top: 73px;
  margin-bottom: 34px;
}

.filter-items {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-right: 8px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.03px;
}

.filter-items:last-child {
  margin-right: 0px;
}

.button-secondary {
  display: inline-block;
  color: #212121;
  background-color: #f5f4fa;
  margin: 0;
  padding: 6px 22px;
  letter-spacing: 0.03em;
  line-height: 1.62;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border: 0;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-secondary:hover, .button-secondary:focus {
  background-color: #2196f3;
  color: #ffffff;
  border: 0px;
}

/*projects*/
.invisible-heading {
  display: none;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 0px;
  margin-bottom: 94px;
  margin-left: 0px;
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 0px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

.flex-elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
}

.flex-elements:last-child {
  padding-right: 0px;
}

.flex-elements:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.flex-elements:nth-child(3n) {
  margin-right: 0;
}

.flex-elements a:hover,
.flex-elements a:focus {
  -webkit-box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
}

.flex-elements a:hover .description,
.flex-elements a:focus .description {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  opacity: 1;
}

a {
  text-decoration: none;
}

.projects-image {
  display: block;
  max-width: 100%;
  height: 294px;
  position: relative;
  overflow: hidden;
  padding-bottom: 0px;
}

.description {
  position: absolute;
  height: auto;
  top: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: rgba(33, 150, 243, 0.9);
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03px;
  padding: 63px 24px;
  margin: 0px;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
}

.projects-elements {
  display: block;
  border: 1px solid #eeeeee;
  background-color: #ffffff;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 0px;
}

.name-project {
  margin-top: 20px;
  margin-bottom: 0px;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06px;
  color: #212121;
}

.type-project {
  margin-top: 0px;
  padding-bottom: 0px;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03px;
  color: #757575;
  text-decoration: none;
}

/*footer */
.footer {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03px;
  color: #ffffff;
  background-color: #2f303a;
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.contact-footer {
  display: block;
  margin-left: 0px;
  padding-bottom: 28px;
  font-style: normal;
}

.address-footer {
  display: block;
  margin-top: 20px;
  font-style: normal;
  line-height: 24px;
}

.addresses-details {
  padding-bottom: 0px;
  margin-top: 0px;
}

.addresses {
  display: block;
  padding-bottom: 0px;
  margin-top: 0px;
}

.addresses a {
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  line-height: 24px;
}

/*join us*/
.info {
  display: block;
  padding-left: 59px;
}

.join {
  display: block;
  padding-top: 45px;
  margin: 0px;
}

.social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 0px;
  padding-top: 20px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.reference a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  margin-right: 10px;
  cursor: pointer;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition: 250ms, cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms, cubic-bezier(0.4, 0, 0.2, 1);
}

.reference a:hover {
  background-color: #2196f3;
  -webkit-transition: 250ms, cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms, cubic-bezier(0.4, 0, 0.2, 1);
}

.reference-icon {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

/*subscribe */
.distribution {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 94px;
  padding-top: 45px;
  margin: 0px;
}

.form-subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 20px;
  margin: 0px;
}

.email {
  display: block;
  width: 358px;
  height: 50px;
  padding-left: 16px;
  margin-right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: #2f303a;
}

.subscribe {
  display: block;
  padding-bottom: 20px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03px;
  color: white;
}

.button-footer {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-top: 44px;
  width: 200px;
  height: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border: 0px;
  background: #2196f3;
  color: #ffffff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

.button-icon {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}

/*copirate footer*/
.developed {
  display: block;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  margin: auto;
  font-size: 12px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.4);
}

.copirate {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
/*# sourceMappingURL=portfolio.css.map */