/* about company*/

.aboutcompany {
  padding-top: 94px;
}

a {
  list-style: $list;
}

.works {
  display: flex;
  margin-left: 0px;
  padding-left: 0px;
  margin-bottom: 0px;
  justify-content: space-between;
}

.box1 {
  background-image: url("../img/box1-min.jpg");
  width: 370px;
  height: 294px;
}

.box2 {
  background-image: url("../img/box2-min.jpg");
  width: 370px;
  height: 294px;
}

.box3 {
  background-image: url("../img/box3-min.jpg");
  width: 370px;
  height: 294px;
}

.occupation {
  display: flex;
  align-items: flex-end;
  padding-right: 30px;

  &:last-child {
    padding-right: 0px;
  }
}

.section-title-company {
  align-items: center;
  text-align: center;
  padding-top: 27px;
  padding-bottom: 27px;
  margin-top: 0;
  margin-bottom: 0px;
  background-color: rgba(47, 48, 58, 0.8);
  color: $white;
  width: 370px;
  height: 70px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.03px;
}

.section-item.company:last-child {
  padding-right: 0px;
}
