/*advantages options*/
.features {
  padding-bottom: 0px;

  @media screen and (min-width: 768px) {
    padding-top: 0px;
  }
}

.advantages {
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0px;
  justify-content: space-between;
  font-family: $font-family;
  color: $very-dark-grey-color;
  text-decoration: none;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.02px;

  @media screen and (min-width: 768px) {
    .details {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      width: 354px;
      margin: -5px;
    }
  }

  @media screen and (min-width: 1140px) {
    .details {
      display: flex;
      width: 270px;
      margin: 10px;
      margin-bottom: 0px;
      padding-left: 0px;
    }
  }

  @media screen and (min-width: 320px) {
    .details:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  &-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    background-color: #f5f4fa;
    border-radius: 4px;
  }
}

.details {
  /*width: 270px;
  display: block;*/
  /*padding-right: 30px;*/

  &:last-child {
    padding-right: 0px;
  }
}

.icon {
  width: 70px;
  height: 70px;
}
