/*advantages options*/
.features {
  padding-bottom: 0px;

  @media screen and (max-width: 767px) {
    padding-top: 0px;
  }
  @media screen and (min-width: 768px) {
    padding-top: 0px;
  }
}

.advantages {
  /*margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0px;
  justify-content: space-between;*/
  font-family: $font-family;
  color: $very-dark-grey-color;
  text-decoration: none;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.02px;

  @media screen and (max-width: 767px) {
    & {
      display: flex;
      flex-wrap: wrap;
      width: 250px;
      margin: -5px;
    }
    &-image {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 120px;
      background-color: #f5f4fa;
      border-radius: 4px;
    }
  }

  @media screen and (min-width: 768px) {
    & {
      display: flex;
      flex-wrap: wrap;
    }

    &-image {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 120px;
      background-color: #f5f4fa;
      border-radius: 4px;
    }

    @media screen and (min-width: 1199px) {
      & {
        display: flex;
        flex-wrap: nowrap;
        padding-left: 0;
      }

      &-image {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 120px;
        background-color: #f5f4fa;
        border-radius: 4px;
      }
    }
  }

  .details {
    /*display: flex;
      width: 270px;
      margin: 10px;
      margin-bottom: 0px;
      padding-left: 0px;*/

    @media screen and (max-width: 767px) {
      .details:not(:last-child) {
        margin-bottom: 30px;
      }
    }

    @media screen and (min-width: 768px) {
      & {
        width: calc((100% - 30px * 2) / 2);
        &:not(:last-child) {
          margin-right: 30px;
        }
      }
    }

    .details {
      /*width: 270px;
  display: block;*/
      /*padding-right: 30px;*/

      &:last-child {
        padding-right: 0px;
      }
    }

    .icon {
      width: 70px;
      height: 70px;
    }
  }
}
