/*contacts */
.contacts {
  display: flex;
  justify-items: center;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  text-decoration: none;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.02px;

  .items:last-child {
    margin-right: 0px;
  }
}

.items a {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 33px;
  margin-right: 30px;
  text-decoration: none;
  color: $dark-grey-color;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $blue;
  }

  .contacts-icon {
    display: flex;
    align-items: center;
    margin-right: 10px;
    fill: currentColor;
  }
  &:hover {
    color: $blue;
  }
}

.phone {
  width: 10px;
  height: 11px;
}
.letter {
  width: 20px;
  height: 12px;
}
