/*main logo*/
.logo {
  display: flex;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  letter-spacing: 0.03px;
  color: $blue;
  text-decoration: none;
}

.studio {
  font-family: "Ralewey", sans-serif;
  font-weight: bold;
  letter-spacing: 0.03px;
  margin-right: 85px;
}

.page-header .logo {
  font-size: 26px;
}

.page-header .studio {
  font-size: 26px;
  line-height: 31px;
  color: $black-color;
}

.footer .logo {
  font-size: 22px;
  padding-top: 45px;
}

.footer .studio {
  font-size: 22px;
  color: $white;
  text-decoration: none;
}
