/*modal*/
.hero-buttom {
  display: inline-flex;
  padding: 10px 32px;
  color: $white;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06px;
  background-color: $blue;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0px;
  border-radius: 4px;
  cursor: pointer;
}

.button-close {
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  right: -10px;
  top: -5px;
  background: $white;
  border: none;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.icon-button-close {
  display: block;
  width: 18px;
  height: 18px;
  align-items: center;

  &:hover {
    fill: $blue;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 528px;
  height: 581px;
  padding: 40px;
  background: #ffffff;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;

  transform: translate(-50%, -50%);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-title {
  display: block;
  max-width: 700px;
  margin-bottom: 0px;
  font-family: $font-family;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03px;
  color: $very-dark-grey-color;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-list {
  position: relative;
  margin-top: 30px;
  margin-right: 0px;
  padding: 0px;
  list-style: none;
  border-radius: 4px;
}

.form-label {
  position: absolute;
  top: 30%;
  left: 37px;
  margin: 0px;
  transform: translateY(-12%);

  &-comment {
    position: absolute;
    top: 10%;
    left: 8px;
    transform: translate(-3%, -12%);
  }
}

.form-item {
  display: flex;
  width: 100%;
  height: 40px;
  padding-left: 40px;
  margin-right: 0px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;

  &-comment {
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
  }
}

.form-item:focus {
  outline: none;
  border-color: $blue;
}

.form-item:focus + .form-label {
  color: $blue;
  border-color: $blue;
  transform: translate(-30px, -35px);
  transition: 250ms linear, transform 500ms;
}
.form-item-comment:focus {
  outline: none;
  border-color: $blue;
}

.form-item-comment:focus + .form-label-comment {
  outline: none;
  color: $blue;
  border-color: $blue;
  transform: translate(-1px, -40px);
  transition: 250ms linear, transform 500ms;
}

.modal-icon {
  position: absolute;
  fill: $very-dark-grey-color;
  top: 30%;
  left: 10px;
  display: inline-block;
  width: 18px;
  height: 18px;
  transform: translateY(-15%);
}

.form-item:focus + .form-label + .modal-icon {
  fill: $blue;
  border-color: $blue;
}

.button-submit {
  position: relative;
  display: block;
  text-align: center;
  align-self: center;
  width: 200px;
  min-height: 50px;
  margin-top: 30px;
  color: $white;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06px;
  background-color: $blue;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0px;
  border-radius: 4px;
  cursor: pointer;
}

/*checkbox*/

.checkbox {
  display: block;
  margin-top: 20px;
}
.checkbox input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
}

.checkbox label {
  position: relative;
  display: inline-block;
  padding-left: 22px;
}

.checkbox label::before,
.checkbox label::after {
  position: absolute;
  content: "";
  display: inline-block;
  border-radius: 2px;
}
.checkbox label::before {
  height: 15px;
  width: 15px;
  border: 1px solid $very-dark-grey-color;
  left: 0px;
  top: 3px;
  background-color: $white;
}
.checkbox label::after {
  height: 5px;
  width: 9px;
  border-left: 2px solid $white;
  border-bottom: 2px solid $white;
  transform: rotate(-45deg);
  left: 4px;
  top: 7px;
}

.checkbox input[type="checkbox"] + label::after {
  content: none;
}

.checkbox input[type="checkbox"]:checked + label::after {
  content: "";
}

.checkbox input[type="checkbox"]:checked + label::before {
  background-color: $blue;
  border: $blue;
}

.rules {
  color: $blue;
  text-decoration: underline;
}
