.ourteam {
  background-color: #f5f4fa;
}
.team {
  display: flex;
  padding-top: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-left: 0px;
  justify-content: space-between;
  padding-right: 30px;
}
.members {
  display: block;
  align-items: center;
  background-color: $white;
  border-radius: 4px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  &:not(:last-child) {
    margin-right: 30px;
  }
}
.name {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 0px;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.03px;
}
.position {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 0px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03px;
  color: $dark-grey-color;
}
.social {
  display: flex;
  padding-left: 0px;
  margin-bottom: 24px;
  justify-content: center;
  margin-top: 16px;
  .links {
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      width: 44px;
      height: 44px;
      cursor: pointer;
      transition-property: background-color;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

      &:hover {
        .social-icon {
          fill: $white;
        }
      }
      &:focus {
        .social-icon {
          fill: $white;
        }
      }
    }
  }
}
.links {
  a {
    &:hover,
    &:focus {
      background-color: $blue;
    }

    &:last-child {
      padding-right: 0px;
    }
  }
}
.social-icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}
